#head {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 10;
  background-image: url("assets/head-right.png");
  object-fit: contain;
  background-size: 50px 50px;
}

#snakeBody {
  height: 50px;
  width: 50px;
  position: absolute;
  object-fit: contain;
  background-image: url("assets/body.png");
  background-size: 50px 50px;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
  background-image: url("assets/background.jpg");
}

#apple {
  height: 75px;
  width: 75px;
  position: absolute;
  object-fit: contain;
}