#head {
  background: rgb(226, 148, 70);
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 10;

}

#snakeBody {
  background: black;
  height: 50px;
  width: 50px;
  background-color: rgb(226, 148, 70);
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
  background-image: url("assets/background.jpg");
}

#apple {
  height: 75px;
  width: 75px;
  position: absolute;
  object-fit: contain;
}